<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="fragments/boardHead::boardHead"></th:block>

<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="css"></th:block>

<body>
  <div class="d-flex" id="wrapper">

    <th:block th:replace="fragments/boardHeader::boardHeader"></th:block>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item" sec:authorize="isAnonymous()">
                      <a class="nav-link" href="/members/login">로그인</a>
                  </li>
                  <li class="nav-item" sec:authorize="isAuthenticated()">
                      <a class="nav-link" href="/members/logout">로그아웃</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/board/list">게시판</a>
                  </li>
                  <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                      <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>

    <th:block layout:fragment="content">

    </th:block>

    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
</html>