<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<th:block layout:fragment="content">
    <div class="container p-3">
        <h3>게시글 수정</h3>
        <form action="/board/update" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="bno" th:value="${board.bno}"/>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">제목</span>
                <input type="text" name="title" class="form-control" placeholder="제목" aria-label="title" aria-describedby="basic-addon1"
                       th:value="${board.title}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">내용</span>
                <input type="text" name="content" class="form-control" placeholder="내용" aria-label="content" aria-describedby="basic-addon2"
                       th:value="${board.content}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">작성자</span>
                <input type="text" name="writer" class="form-control" placeholder="작성자" aria-label="writer" aria-describedby="basic-addon3"
                       th:value="${board.writer}">
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-secondary">수정</button>
                <button type="reset" class="btn btn-light">취소</button>
            </div>
        </form>
    </div>
</th:block>
</html>